body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/background\ image\ 3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color:#f7a854 ;
  height: 80vh;
}

.win{
    font-family:'Caprasimo', cursive;
    text-align: center;
    font-size: 100px;
    margin: 100px 10px;
    animation: disco infinite 2s;
}

@keyframes disco{
    0% {color: #E4A5FF; }
    20% {color: #FFAAC9; }
    40% {color: #00DFA2; }
    60% {color: #91ff00; }
    80% {color: #DB005B; }
    100% {color: #f587e3; }
}

video{
    height: 300px;
    width: 500px;
    margin: 0 300px;
    /* margin: 100px auto; */
}