*{
    margin: 0px;
    padding: 0px;
}

.heading{
    text-align: center;
    font-family: 'Caprasimo', cursive;
    font-size: 50px;
    margin: 10px;
    animation: disco 2s infinite;
}

.container{
   display: flex;
   flex-direction: column;
   background-image:url(assets/background\ image\ 3.jpeg);
   background-repeat:no-repeat ;
   background-size: cover;
}

.desk{
    font-family:'Caprasimo', cursive;
    text-align: center;
    font-size: 35px;
    margin: 10px;
}

.description{
    /* width:1000px;
    margin: auto; */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    font-size: 20px;
    margin-top: 30px;
    margin: 30px 10px;
    font-family: 'Geologica', sans-serif;
    
}


.list{
    list-style-type: decimal;
    margin: 30px;
}

p{
    margin: 30px;

}

.btn{
    margin: 25px;
    width: 200px;
    align-self: center;
    padding: 15px;
    border-radius: 5px;
    background-color: #f7a854;
    color: #ffffff;
    font-family:'Geologica', sans-serif;
    line-height: 2; 
    font-size: 15px;
    cursor: pointer;
    
}

.btn:hover{
    background: #ffffff;
    color: #f7a854;
    transition: 0.7s;
}

@keyframes disco{
    0% {color: #E4A5FF; }
    20% {color: #FFAAC9; }
    40% {color: #00DFA2; }
    60% {color: #00C4FF; }
    80% {color: #DB005B; }
    100% {color: #f587e3; }
}

a{
    align-self:center ;
}
@media (min-width:325) and (max-width:750px) {
    .description {
        /* width: 1000px; */
        /* margin: auto; */
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
        font-size: 20px;
        margin-top: 30px;
        font-family: 'Geologica', sans-serif;
    }
}
